body,
html {
    margin: 0;
    height: 100%;
}

.button {
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}

.center {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    font-variant: small-caps;
}

.outside {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.c-icon {
    width: 36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.blend {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    font-size: 150px;
    mix-blend-mode: overlay;
}

.divanimationleft {
    width: 120px;
    height: 45px;
    border-radius: 15px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: bolder;
    font-max-size: larger;
    position: absolute;
    animation-name: mymove;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-variant: small-caps;
    color: white;
}

.divanimationright {
    width: 120px;
    height: 45px;
    border-radius: 30px 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: bolder;
    font-max-size: larger;
    position: absolute;
    animation-name: mymoveright;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-variant: small-caps;
    color: white;
}

@keyframes mymove {
    from {
        left: 20px;
    }

    to {
        left: 500px;
    }
}

@keyframes mymoveright {
    from {
        right: 20px;
    }

    to {
        right: 500px;
    }
}

.example {
    padding: 20px;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}