html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.outside {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.c-icon {
    width: 36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    font-variant: small-caps;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

/* Index.html */
.indexText {
    top: 100px;
    left: 60px;
    text-align: center;
    position: absolute;
    color: aquamarine;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-variant: small-caps;
}

.indexMotto {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding-left: 20px;
    padding-right: 20px;
}

/* aboutMe.html */
.myImage {
    position: absolute;
    border-radius: 50%;
    height: 80%;
    left: 50px;
    top: 60px;
    z-index: 1;
}

.insideAboutMeText {
    position: absolute;
    width: 51%;
    float: right;
    font-variant: small-caps;
    top: 80px;
    right: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
}

/* certificates.html */
.certificatesFirstText {
    text-align: center;
    top: 100px;
    left: 550px;
    position: absolute;
}

.sdaText {
    position: absolute;
    top: 120px;
    left: 20px;
}

.udemyText {
    top: 120px;
    right: 20px;
    position: absolute;
}

.imageBorder {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* contact.html */
.c-link--linkedin:hover {
    color: #2867B2;
}

.c-link--facebook:hover {
    color: #3b5998
}

.c-link--instagram:hover {
    color: #833ab4
}

.c-link--mail:hover {
    color: red;
}

.c-link--linkedin:hover::after {
    background: #2867B2;
}

.c-link--mail:hover::after {
    background: red;
}

.c-link--facebook:hover::after {
    background: #3b5998
}

.c-link--instagram:hover::after {
    background: #833ab4
}

.button {
    color: #0b1c1d;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid #0b1c1d;
    outline: 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button:hover {
    background: #0b1c1d;
    color: #fff;
    box-shadow: 0 0 5px #0b1c1d, 0 0 25px #0b1c1d, 0 0 50px #0b1c1d, 0 0 100px #0b1c1d;
}

.mailBoard {
    width: 49%;
    top: 200px;
    right: 180px;
    position: absolute;
    background-size: cover;
    background-image: linear-gradient(109deg, black, grey);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.textArea {
    height: 200px;
    resize: none;
    width: 100%;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.myLinks {
    top: 180px;
    left: 80px;
    text-align: center;
    position: absolute;
    color: aquamarine;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* jobs.html */
.insideJobsText {
    text-align: justify;
    position: relative;
    width: 300px;
    margin-top: 200px;
    margin-left: -250px;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.textColor {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

/* projects.html */

.c-link--github:hover {
    color: purple;
}

.c-link--github:hover::after {
    background: purple;
}

.photoBorder {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.textView {
    color: white;
}

.projectsView {
    position: absolute;
    width: 350px;
    left: 20px;
    margin-top: 200px;
    text-align: center;
    font-variant: small-caps;
}

.allRepoViewText {
    bottom: 20px;
    right: 20px;
    position: absolute;
    font-variant: small-caps;
}

/* skills.html */

.blend {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    font-size: 150px;
    mix-blend-mode: overlay;
}

.divanimationleft {
    width: 120px;
    height: 45px;
    border-radius: 15px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: bolder;
    font-max-size: larger;
    position: absolute;
    animation-name: mymove;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-variant: small-caps;
    color: white;
}

.divanimationright {
    width: 120px;
    height: 45px;
    border-radius: 30px 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: bolder;
    font-max-size: larger;
    position: absolute;
    animation-name: mymoveright;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-variant: small-caps;
    color: white;
}

@keyframes mymove {
    from {
        left: 20px;
    }

    to {
        left: 500px;
    }
}

@keyframes mymoveright {
    from {
        right: 20px;
    }

    to {
        right: 500px;
    }
}

@media only screen and (max-width: 1080px) {
    .fixedImageOnlyOnMediaScreen {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .center {
        font-variant: small-caps;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
    }

    /*index.html */
    .indexText {
        position: relative;
        margin-top: 160px;
        left: 0;
    }

    .indexMotto {
        position: relative;
        text-align: center;
        margin-top: 350px;
        left: 0;
    }

    /* aboutMe.html */
    .myImage {
        top: 265px;
        height: 55%;
        position: relative;
    }

    .insideAboutMeText {
        text-align: justify;
        position: relative;
        width: 300px;
        margin-top: 200px;
    }

    /* jobs.html */
    .insideJobsText {
        text-align: justify;
        position: relative;
        width: 300px;
        margin: 0 auto;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    }

    /* projects.html */
    .projectsView {
        position: relative;
        width: 350px;
        margin: 0 auto;
        margin-top: 300px;
    }

    .allRepoViewText {
        position: relative;
        margin-top: 280px;
        left: 20px;
    }

    /* skills.html */
    .divanimationleft {
        margin-top: 600px;
        margin-left: 260px;
        animation-duration: 0s;
        animation-direction: alternate;
        background-color: blanchedalmond;
        color: black;
    }

    .divanimationright {
        margin-top: 600px;
        margin-right: -300px;
        animation-duration: 0s;
        animation-direction: alternate-reverse;
        background-color: blanchedalmond;
        color: black;
    }

    .blend {
        font-size: 130px;
        margin-top: 150px;
    }

    /* certificates.html */
    .certificatesFirstText {
        position: relative;
        color: seashell;
    }

    .sdaText {
        position: relative;
        margin-top: 150px;
    }

    .udemyText {
        position: relative;
        margin-top: 50px;
        margin-left: 40px;
    }

    /* contact.html */
    .myLinks {
        position: relative;
        top: 0;
        left: 0;

    }

    .mailBoard {
        position: relative;
        top: 750px;
        left: 100px;
    }
}